html {
  height: auto;
}

body {
  font-size: 0.8rem;
  background-color: #E2EDE3;
}

p {
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #2e5e4e; 
}

label {
  text-align: left;
  clear: both;
  float:left;
  margin-left: 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input:focus {
  border: 2px solid #2e5e4e;
  outline-color: #2e5e4e;
}

.button {
  height: 1.5rem;
  background-color: #2e5e4e;
  color: #f6c453;
  border-radius: 3px;
  border-color: #2e5e4e;
  box-shadow: none;
}

.button:hover {
  background-color: #f6c453;
  color: #2e5e4e;
  border-color: #f6c453;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button-yellow {
  height: 1.5rem;
  background-color: #f6c453;
  color: #2e5e4e;
  border-radius: 3px;
  border-color: #2e5e4e;
  box-shadow: none;
  padding: 0.2rem;
}

.button-yellow:hover {
  background-color: #FEFBE9;
  color: #f6c453;
  border-color: #FEFBE9;
}

.button-red {
  height: 1.5rem;
  background-color: #d34e4e;
  color: #ffffff;
  border-radius: 3px;
  border-color: #d34e4e;
  box-shadow: none;
  padding: 0.2rem;
}

.button-red:hover {
  background-color: #f6c453;
  color: #2e5e4e;
  border-color: #f6c453;
}

.navbar {
  background-color: #fefbe9;
  justify-content: space-between;
  display: flex;
}

.navbar div {
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.navbar-brand {
  color: #2e5e4e !important;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #b2dabc, 1px 2px 1px #bcdab2, 1px 3px 1px #bcdab2,
    1px 4px 1px #bcdab2, 1px 5px 1px #bcdab2, 
    1px 5px 6px rgba(16, 16, 16, 0.5), 1px 6px 7px rgba(16, 16, 16, 0.5);
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 1.2rem;
}

.form-control {
  height: 1.5rem;
}

.nav-item {
  margin-right: 1rem;
}

.success-message {
  background-color: rgb(33, 202, 146, 0.8);
  color: #FEFBE9;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  
}

.error-message {
  background-color: #c53f3fcc;
  color: #FEFBE9;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
}

.form-group {
  text-align: center;
}

.background_image {
  background-image: url("../img/background.webp");
  background-size:cover;
  height: 100%;
}

.video {
  background-color: #FEFBE9;
  border-radius: 5px;
}

#map {
  height: 20rem;
  width: 30rem;
}

#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  background:url("../img/spinner.gif") no-repeat center center rgba(0,0,0,0.25); 
  background-size: 100px;
  display: none;
}

.active {
  color: #2e5e4e;
}

.video_active {
  background-color: #f6c453;
}

/****************** Login style *******************/

.login_page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/background.webp");
	background-size:cover;
  height: 100%;
}

.form_style {
  margin: 4rem 0;
  width: 40%;
  border: 2px solid rgb(46, 94, 78);
  border-radius: 10px;
  background-color: rgb(225, 238, 221, 0.95);
}

.form_style form {
  padding: 1rem 1rem 0 1rem;
  margin: 0;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.form_style form button {
  margin: auto;
  width: 100%;
}

.logo_section {
  background-color: rgb(254, 251, 233, 0.8);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.highlight {
  border: 3px #F5C6CF solid;
}


/****************** Home page *******************/

.card-title {
  margin-bottom: 2rem;
}

.course_card {
  box-shadow: 5px 10px 8px #888888;
}

.card-body div {
  position: absolute;
  bottom: 1rem;
}

.card-img-top {
  max-height: 220px;
}


/****************** Footer style *******************/

footer {
  background-color: #FEFBE9;
  margin-top: 1rem;
}